.top {
    height: 80px;
    width: 100%;
}

.topleft {
    float: left;
    width: 290px;
    height: 80px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 83px center;
}

.topright {
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 700;
    color: gray;
}

.maxbg {
    width: 100%;
    height: 600px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.entry {
    width: 420px;
    height: 350px;
    background-color: white;
    border: 1px solid white;
    position: relative;
    margin-left: 930px;
    top: 76px;
}

.left {
    float: left;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 20px;
    color: gray;
    font-weight: 500;
}

.right {
    float: right;
    width: 150px;
    font-size: 15px;
    color: red;
    font-weight: 500;
    padding-top: 17px;
    right: 10px;
    text-indent: 70px;
}

.bold {
    font-weight: 900;
}

.username {
    clear: both;
    border: 2px solid rgb(214, 214, 214);
    width: 382px;
    height: 40px;
    margin-left: 15px;
    margin-top: 35px;
    background-image: url(../images/账户名图.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 39px 38px;
    outline: none;
    color: black;
    text-indent: 3em;
    font-size: 16px;
}

.userpwd {
    clear: both;
    border: 2px solid rgb(214, 214, 214);
    width: 382px;
    height: 40px;
    margin-left: 15px;
    margin-top: 35px;
    background-image: url(../images/密码图.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 39px 38px;
    color: black;
    text-indent: 3em;
    font-size: 16px;
    outline: none;
}

.litlebox {
    margin-top: 30px;
    margin-left: 15px;
}

.login {
    color: rgb(145, 135, 135);
    font-size: 14px;
    padding-top: 20px;
    height: 20px;
    line-height: 20px;
}

.password {
    color: rgb(145, 135, 135);
    font-size: 14px;
    padding-top: 20px;
    height: 20px;
    line-height: 20px;
    padding-left: 245px;
}

.DengLu {
    margin-top: 20px;
    margin-left: 15px;
}

.denglu {
    width: 382px;
    height: 38px;
    background-color: rgb(228, 57, 60);
    border: rgb(228, 57, 60);
    color: white;
    font-size: 16px;
    outline: none;
}